* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--text-secondary);
    --backaground-default: #F5F4F0;
    --text-primary:#1b1b1b;
    --text-headline: #E1624F;
    --text-secondary:#333333;
    --border-primary: #d9d9d9;
    --accent-blue:#0C51A7;
    --accent-purple:#591B98;
    --accent-pink: #E5245E;
    --accent-orange: #E95E10;
}

#border-project {
    padding: 1rem;
    background-color: var(--text-secondary);
    border-radius: 40px;
}

#local-turistico {
    margin: 0 auto;
    padding: 5.5rem 5rem 0;
    background-color: var(--backaground-default);
    border-radius: 28px;
}

#conteiner {
    margin-bottom: 65px;
}

#body {
    padding: 6rem 6.25rem 6rem;
    background-color: #000000;
}

/* Seção de introdução */
#section-introduction {
    margin-bottom: 40px;
}

.title-page {
    width: 100%;
    margin-bottom: 40px;
}

h1 {
    margin-top: 8px;
    font-weight: bold;
    font-size: 36px;
    color: var(--text-primary);
}

.headline {
    color: var(--text-headline);
    font-weight: bold;
}

.description-image {
    margin-top: 4px;
}

img {
    border-radius: 28px;
    width: 100%;
}

#subtitle {
    font-size: 16px;
    line-height: auto;
    font-style: italic;
    text-align: center;
    margin: 24px 0px 4px;
    /* color: var(--text-secondary); */
}

.content-list {
    margin-bottom: 40px;
}

#divisor01 {
    width: 100%;
    height: 1px;
    background-color: var(--border-primary);
    margin-bottom: 64px;
}

/* Seção de destaques/atrações */
#section-attraction {
    margin-bottom: 64px;
}

.title {
    margin-bottom: 8px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    margin-top: 2px;
    color: var(--text-primary);
}


/* Seção de lista de atrações */
h3 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 4px;
    color: var(--text-primary);
}

.card-travel-item01, .card-travel-item02 {
    margin-bottom: 48px;
}

.img-card-item01 img, .img-card-item02 img, .img-card-item03 img{
    margin-bottom: 20px;   
}

.content-card-item01 span, .content-card-item02 span {
    color: var(--accent-blue);
}

.content-card-item03 .accent-purple {
    color: var(--accent-purple);
}

.content-card-item03 .accent-pink {
    color: var(--accent-pink);
}

.content-card-item03 .accent-orange {
    color: var(--accent-orange);
}

#divisor02 {
    width: 100%;
    height: 1px;
    background-color: var(--border-primary);
    margin-bottom: 40px;
}

/* Seção de rodapé */
.footer {
    text-align: center;
    padding: 0 0 3rem;
    font-size: 14px;
}

.footer img {
    width: 16px;
    vertical-align: middle;
}
